.grid-form{
    display: grid;
    grid-template-columns: min-content min-content;
    max-width: 800px;
    justify-items: center;
    align-items: center;
    /* border: 1px solid black; */
}

.grid-form.horizontal {
    grid-auto-flow: column;
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
}

.grid-form>* {
    margin: 0px 4px;
}

#app-container {
    margin: 0px auto;
    width: min-content;
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: fit-content fit-content fit-content fit-content;
    grid-template-areas: 'tax-tip-form item-list' 'item-form item-list' 'summary item-list' '. item-list';
}

#item-form {
    grid-area: item-form;
}

#tax-tip-form {
    grid-area: tax-tip-form;
}

#item-list {
    grid-area: item-list;
    justify-content: flex-start;
}