.table {
    margin: 8px auto;
    width: fit-content;
    display: grid;
}

.table-row {
    display: contents;
}

.table-row * {
    padding: 8px 12px;
}

.table-row.header *, .table-row.footer *{
    font-weight: 600;
    background-color: var(--main-color);
}

.table-row.data:nth-of-type(2n+1) *{
    background-color: var(--secondary-color);
}

.table-row.data:nth-of-type(2n) *{
   background-color: var(--tertiary-color);
}